.repopage {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns that shrink but stay readable */
  grid-template-rows: 1fr 1fr; /* Rows adjust to content */
  height: 100vh;
  width: 100vw; /* Ensure no extra space outside */
  box-sizing: border-box;
  gap: 20px;

  & .chart_one {
    display: grid;
    width: 100%;
  }

  & .chart_two {
    & .stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  & .chart_three {
    display: grid;
    box-sizing: border-box;
  }

  & .chart_four {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }
}
