.repopage {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns that shrink but stay readable */
  /* grid-template-rows: 1fr 1fr; Rows adjust to content */
  gap: 20px;

  & .chart_one {
    display: grid;
  }

  & .chart_two {
    & .stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  & .chart_three {
    display: grid;
  }

  & .chart_four {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }
}
