/* .Details{
    display:grid;
    align-items: center;
    background-color: rgba(13, 99, 17, 0.281);
    border-radius: 20%;
    border-style: solid;
    height: 500px;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    
} */

.repopage{
    
  display: grid;
  grid-template-columns: 1fr 1fr;  /* 2 equal columns */
  grid-template-rows: 1fr 1fr;  /* 2 equal rows */
  height: 100vh;
  width: 100%;
  margin-left: 10px;
    
    
}
.some_stats{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

.pie_chart{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
     width: 100%;
  


}

