.UpperBar {
  background: rgba(122, 68, 5, 0.37);
}

.upperbar_items {
  display: grid; /* Grid layout for the buttons */
  grid-auto-flow: column; /* Items arranged in columns */
  grid-auto-columns: max-content; /* Adjust columns based on content size */
  justify-content: end; /* Align buttons to the right */
  align-items: center; /* Vertically center the buttons */
  grid-gap: 5px; /* Space between items */
  padding: 0 10px;
  font-size: 1rem;
  color: white;
  margin-top: 12px;
  overflow: visible;
}

/* General button styles */
.UpperbarItem,
.SearchBar input {
  border: 1px solid rgba(255, 255, 255, 0.795);
  background-color: transparent;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  max-width: 150px;
  width: auto;
  &:hover {
    background-color: rgba(34, 39, 29, 0.24);
    color: #f0e36d;
    border: 1px solid #055e1bb4;
  }
  & i {
    margin-right: 8px;
  }
}

/* Styling specific to the search button and expanding search bar */
.SearchBar {
  position: relative; /* Contain elements */
  height: 2.4rem; /* Same height as buttons */
  display: grid;
  align-items: right;
  overflow: visible;
  text-decoration: bold;
  transition: max-width 0.3s ease-out;
  width: 400px;
  max-width: 250px;
  input {
    max-width: 250px;
    &::placeholder {
      text-decoration: bolder;
      color: #f0e36d;
    }
  }
  &:hover {
    max-width: 400px;
    & input {
      max-width: 400px;
    }
  }
}
