.table {
  display: grid;
  align-items: center;
  h2{
    text-align: center;
  }
  .box{
    display: grid;
    align-items: center;
    width: 650px;               /* Set the width of the box */
    height: 550px;              /* Set the height of the box */
    background-color: #f1f1f171;  /* Set the background color of the box */
    border: 2px solid #d9dbd2;     /* Add a border around the box */
    padding: 20px;              /* Add padding inside the box */
    margin: 20px;               /* Add margin outside the box */
    border-radius: 10px;
    /* box-shadow: 10px 10px 10px rgba(88, 85, 85, 0.514);  */
    box-shadow: 12px 12px 3px 3px rgba(15, 15, 241, 0.158);

    & .list_info {
        table{
          width: 80%;
          margin: 20px auto;
          border-collapse: collapse;
          font-family: Arial, sans-serif;
          box-shadow: 10px 10px 10px rgba(114, 17, 226, 0.2);
          border-radius: 8px;
          overflow: hidden;
        }
        th, td {
          padding: 12px;
          text-align: center;
          border: 1px solid #8e6bbd; /* Soft green border */
          
        }
        th {
          background-color: #66fd0211; /* Soft Green */
          color: #8884d8; /* Soft Gold */
          font-weight: bold;
          box-shadow: inset;
        }
        td {
          background-color: #0d771671; /* Light green */
          color: #fffc45; /* Dark gray text for contrast */
          text-shadow: #8884d8;
          font-weight: bold;
        }
    }
  }

}

