.Box{
    display:grid;
    align-items: stretch;
    background-color: rgba(13, 99, 17, 0.281);
    border-radius: 20%;
    border-style: solid;
    height: 500px;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    
}


.ViewButton{
    margin-left: 5px;
    &:hover {
        background-color: rgba(34, 39, 29, 0.24);
        color: #f0e36d;
        border: 1px solid #055e1bb4;
  }
}