.calendar {
  h2 {
    margin: 0;
  }
  & .view_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    
  }
  & .graph {
    display: grid; /*The are not doing anything */
  }
}
