.page {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* 2 equal columns */
  grid-template-rows: 1fr 1fr;  /* 2 equal rows */
  height: 100vh;
  width: 100%;
  margin-left: 10px;
}

.chart_one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart_one h2 {
  text-align: center;
}

.box{
  display: grid;
  align-items: center;
  width: 1fr;               /* Set the width of the box */
  height: 300px;              /* Set the height of the box */
  background-color: #f1f1f171;  /* Set the background color of the box */
  border: 2px solid #d9dbd2;     /* Add a border around the box */
  padding: 20px;              /* Add padding inside the box */
  margin: 10px;               /* Add margin outside the box */
  border-radius: 10px;
  /* box-shadow: 10px 10px 10px rgba(88, 85, 85, 0.514);  */
  box-shadow: 12px 12px 3px 3px rgba(15, 15, 241, 0.158);
}