.linechart {
  align-items: center;

  & .viewlines {
    display: grid;
    grid-auto-flow:column;
    border-radius: 10px;
    background-color: #f1f1f171;
    border: 2px solid #d9dbd2;
    box-shadow: var(--normal-box-shadow);
   
  }
}
