.SideBar {
  background: linear-gradient(
    to bottom,
    #1a3636,
    #222222
  ); 
  width: 70px; 
  color: white;
  display: grid;
  grid-auto-flow: row; 
  grid-auto-rows: max-content;
  align-items: center;
  transition:
    width 0.6s ease,
    background-color 0.6s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3); 
  z-index: 10;

  .toggle_button {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    background: none;
    border: none;

    .container {
      display: grid; 
      grid-template-rows: repeat(
        3,
        5px
      ); 
      grid-gap: 4px; 
      height: 22px;
      width: 35px;
      position: relative;

      .bar1,
      .bar2,
      .bar3 {
        width: 100%;
        height: 4px; 
        background-color: #f8cb04ef; 
        border-radius: 5px; 
        transition:
          transform 0.4s ease,
          opacity 0.4s ease; 
      }
    }
    .change .bar1 {
      transform: translateY(7px) rotate(45deg); 
    }

    .change .bar2 {
      opacity: 0; 
    }

    .change .bar3 {
      transform: translateY(-7px) rotate(-45deg); 
    }
  }
  &[data-sidebaropen="false"] {
    .nav_links {
      display: grid;
      align-items: center;
      justify-items: center;
      row-gap: 30px;
      padding: 0;
      margin: 0 auto;
      margin-bottom: 10px;
      width: 100%;
      .menu_item {
        display: none;
      }
    }
  }
  &[data-sidebaropen="true"] {
    width: 200px;
    .nav_links {
      display: grid; 
      justify-items: center; 
      align-items: center; 
      row-gap: 15px;
      padding: 0;
      margin: 0 auto; 
      & i {
        margin-right: 5px;
      }
    }
    .menu_icon {
      display: none;
    }
  }
}
