.SideBar {
  background: linear-gradient(to bottom, #1a3636, #222222); /* Gradient background */
  width: 70px; /* Default width when collapsed */
  height: 100%; /* Full height */
  color: white;
  display: grid;
  grid-auto-flow: row; /* Items arranged in rows */
  grid-auto-rows: max-content; /* Adjust rows based on content size */
  justify-content: center; /* Align items to the center */
  align-items: center;
  transition: width 0.3s ease, background-color 0.3s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  z-index: 10;

  .logo {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    
    & a {
      color: #f8cb04ef;
      text-decoration: underline dotted;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .toggle_button {
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    background:none;
    border: none; 

    .container {
      display: grid;           /* Grid for vertical bars */
      grid-template-rows: repeat(3, 5px); /* Three rows, each 5px tall (the height of each bar) */
      grid-gap: 4px;           /* Space between the bars */
      height: 22px;            /* Total height */
      width: 35px;             /* Hamburger width */
      position: relative;  
      
      .bar1, .bar2, .bar3 {
        width: 100%;
        height: 5px;             /* Height of each individual bar */
        background-color:#f8cb04ef; /* Visible white color */
        border-radius: 5px;      /* Rounded edges for cleaner look */
        transition: transform 0.4s ease, opacity 0.4s ease; /* Smooth transitions */ 

      }        

    }      
    .change .bar1 {
      transform: translateY(7px) rotate(45deg); /* Rotate bar1 */
    }

    .change  .bar2 {
      opacity: 0; /* Hide bar2 when the hamburger is toggled */
    }

    .change  .bar3 {
      transform: translateY(-7px) rotate(-45deg); /* Rotate bar3 */
    }
  }


  &[data-sidebaropen= "true"]{
    width: 200px;

  }


}
