.SideBar {
  background: linear-gradient(
    to bottom,
    #1a3636,
    #222222
  ); /* Gradient background */

  width: 60px; /* Default width when collapsed */
  height: 100%; /* Full height */
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Allows spacing with top, center, bottom areas */
  justify-items: center;
  transition: width 0.3s ease, background-color 0.3s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  z-index: 10;
  .logo {
    display: grid;
    /* flex-direction: column; Ensures any vertical content stays vertically aligned */
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }

  .logo a {
    color: #f8cb04ef;
    text-decoration: underline dotted;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .menu_item {
    display: grid;
    justify-items: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    height: 100%; /* Ensures it uses the full height of the container */
    width: 100%; /* Add this to match the width of the sidebar */
    .menu_icon {
      display: grid;
      align-items: center; /* Centers vertically */
      justify-items: center; /* Centers horizontally */
      height: 100%;
      width: 100%; /* Ensure it uses the full width of .menu_item */
    }
    .menu_button {
      display: none;
    }
  }
  &:hover {
    width: 200px; /* Sidebar width when open */
    .menu_item {
      .menu_icon {
        display: none;
      }
      .menu_button {
        display: inline-grid;
        grid-template-columns: max-content 1fr;
        gap: 0.75rem;
        align-items: center;
      }
    }
  }
}
